{% extends 'soytemplates/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<ul class="List-of-employees">  <!-- Кликабельный список сотрудников, заменить на список курсов -->
    {% for p in posts %}
        
            
{% if p.photo %}
    <p><img clas="img-article-left-thumb" src="{{p.photo.url}}"></p>
{% endif %}
            <h2>{{p.title}}</h2>
        <li><div>
            <p class="first">{{p.cat}}</p>
        </div>
    {% autoescape on %}
    {{p.content|linebreaks|truncatewords:50}}
    {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-description"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
        </li>
    {% endfor %}
</ul>
{% endblock %}